
/* 공통 부분 
------------------------------------------- */

html{
    font-size: 100%;
}

body{
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SC Gothic Neo", sans-serif;
    line-height: 1.7;
    color: darkcyan;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

/* 헤더 부분
------------------------------------------- */
.logo{
    width: 210px;
    margin-top:14px ;
}

.main-nav{
    display: flex;
    font-size: 1.25em;
    text-transform: uppercase;
    margin: 34px;
    list-style:none

}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: red;
}
.main-nav a:hover{
    color: aqua;
}

.page-header{
    display: flex;
    justify-content: space-between;
}