/* 공통 부분 
------------------------------------------- */

html {
    font-size: 100%;
}

body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SC Gothic Neo", sans-serif;
    line-height: 1.7;
    color: black;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* 헤더 부분
------------------------------------------- */
.logo {
    width: 200px;
    margin-top: 25px;
}

.main-nav {
    display: flex;
    font-size: 1.35em;
    text-transform: uppercase;
    margin: 34px;
    list-style: none;

}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: black;
    font-weight: bold;
}

.main-nav a:hover {
    color: orange;
}

.page-header {
    display: flex;
    /* 로고와 nav메뉴가 수평 되도록  */
    justify-content: space-between;
    /* 로고와 nav메뉴를 양끝으로 붙여주고 가운데 공간 */
}

.wrapper {
    max-width: 1700px;
    /* 최대 크기를 pc에서도 잘 보이도록 적절히 지정 */
    margin: 0 auto;
    /* 좌우의 중앙에 배치 */
    padding: 0 4%;
    /* 스마트폰에서 잘 보이도록 여백 지정 */
}

/* HOME
-------------------------------------------------*/
.home-content {
    text-align: center;
    margin-top: 10px;
}

.home-content p {
    font-size: 1.125rem;
    margin: 10px 0 42px;
    font-weight: bold;
}

/* 제목 */
.page-title {
    font-size: 5rem;
    font-family: "Chau+Philomene+One", "Philosopher";
    text-transform: uppercase;
    font-weight: bold;
}

.button {
    font-size: 1.375rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    padding: 18px 32px;
    opacity: 0.75;
}

.button:hover {
    background: orange;
    opacity: 1;
}

/* 큰 배경 이미지 */
.big-bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

#home {
    background-image: url("../../../images_P/배경.png");
    min-height: 100vh;
    /* 배경 이미지와 색상 블렌딩
    background-color: rgb(255, 25, 0);
    background-blend-mode: hard-light; */

    /*위의 이미지를 그라디언트로 덮기 */
    /* background-image: linear-gradient(lightblue, lightcoral); */
}

#home .page-title {
    text-transform: none;
}

/* CHARATER (NEWS) 
------------------------------*/
#char {
    background-image: url("../../../images_P/pre.jpg");
    height: 130px;
    margin-bottom: 40px;
}

#char .page-title {
    text-align: center;
}

/* footer
----------------------------------*/
footer {
    background: #09c;
    text-align: center;
    padding: 1px;
}

footer p {
    color: #90c;
    font-size: 0.875rem;
}

/* 메인 사이드바 정렬*/
.char-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


/* char-content의 메인 기사와 사이드바 크기 설정 */
article {
    width: 74%;
}

aside {
    width: 22%;
}

.post-info {
    position: relative;
    /*이 요소의 자식에 absolute속성을 부여하면 현재 이 요소를 기준으로 위치 정할 수 있다. */
    padding-top: 4px;
    margin-bottom: 40px;
}

.post-date {
    width: 100px;
    height: 100px;
    background-color: #09c;
    border-radius: 50%;
    color: #90c;
    font-size: 1.625rem;
    text-align: center;
    position: absolute;
    top: 0;
    padding-top: 10px;

}
.post-date span{
    font-size: 1rem;
    border-top: 1px #90c solid;     /* 날짜 위 반투명 수평선 */
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}